// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #54C6EB;
$title-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget.widget-clock {
  background-color: $background-color;
    
  .time, .date {
    color: $title-color;
  }
}

