// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #A2708A;

$value-color: #fff;
$pass-color: #8fb347;
$fail-color: #e74c3c;
$else-color: #9CB4F4;

$title-color: rgba(255, 255, 255, 0.7);
$label-color: rgba(255, 255, 255, 0.7);
$moreinfo-color: rgba(255, 255, 255, 0.7);
$updated-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-pull-requests styles
// ----------------------------------------------------------------------------
.widget.widget-pull-requests {
    background-color: $background-color;
    vertical-align: top;
    .header {
        color: $label-color;
    }
    span {
        font-size: 12px;
    }
    .title {

    }
    .pull_info {
        line-height: 60%;
    }
    ol,
    ul {
        margin: 0 15px;
        text-align: left;
        color: $label-color;
    }
    ol {
        list-style-position: inside;
    }
    li {
        margin-bottom: 20px;
    }
    .list {
        list-style: none;
    }
    .pull {
        color: $label-color;
    }
    .value {
        float: right;
        margin-left: 12px;
        color: $value-color;
    }
    .updated-at {
        color: $updated-color;
    }
    .more-info {
        color: $moreinfo-color;
    }
}