// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #06D6A0;
$background-warning-color: #e74c3c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);
$updated-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-lantern-data-ingest {

  background-color: $background-color;
    
  &.ingest-error {
    background-color: $background-warning-color
  }

  .title {
    color: $title-color;
  }

  .metric, .time {
    color: $moreinfo-color;
  }

  .updated-at {
    color: $updated-color;
  }

}