// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #52489C;

$pass-color: #218380;
$fail-color: #e74c3c;
$else-color: #B483C5;

$title-color: rgba(255, 255, 255, 0.7);
$label-color: rgba(255, 255, 255, 0.7);
$moreinfo-color: rgba(255, 255, 255, 0.7);
$updated-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-pull-requests styles
// ----------------------------------------------------------------------------
[data-sizey="3"] .widget.widget-circle-ci-list ul {
    overflow: hidden;
    height: 930px;
}

.widget.widget-circle-ci-list {
    background-color: $background-color;
    vertical-align: top;
    li {
        margin-bottom: 20px;
        padding: 10px;
    }
    .list {
        list-style: none;
    }
    .title {
        color: $title-color;
    }
    .label {
        color: $label-color;
    }
    .items {
        list-style: none;
        text-align: left;
        li {
            margin-top: 5px;
            &.failed {
                background-color: $fail-color;
            }
            &.pending {
                background-color: $else-color;
            }
            &.passed {
                background-color: $pass-color;
            }
        }
    }
     .updated-at {
    color: $updated-color;
  }

}